/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* #Root Variables */
:root {
    --color-success: #42ba96;
    --color-danger: #DC3545;
    --color-info: #f3e36f;
    
    --color-primary: #111C0E;
    --color-primary-alt1: #1A2902;
    --color-primary-alt2: #344C12;
    --color-secondary: #778D45;
    --color-secondary-alt1: #AEC670;
    --color-secondary-alt2: #c9d3be;

    --card-border-radius: 2rem;

    --borer-radius-1: 0.4rem;
    --borer-radius-2: 0.8rem;
    --borer-radius-3: 1.2rem;
    --borer-radius-4: 2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --padding-2: 1.5rem;
    --padding-3: 2rem;
    --padding-4: 3rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --primary-font: 'Montserrat', 'sans-serif';
    --secondary-font: 'Montserrat Alternates', 'sans-serif';
}

* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-secondary-alt2);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-primary-alt2);
}

a {
    text-decoration: none;
    display: block;
    color: #000000;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand h2{
    margin: 0;
    font-family: var(--secondary-font);
    
}

.habioLogo img{
    height: 1.5rem;
    width: auto;
}

.linkItems{
    display: flex;
}
.linkItems{
    list-style-type: none;
}